{% extends 'index.html' %}
{% block taskList %}

    <div class="container">
      <div class="d-flex justify-content-between m-3">
          <h3 class="m-3">Detailed Task List</h3>
          
          <div style="margin: 20px 10px;">
            <label for="filter">Filter:</label>
            <select name="filter" id="filter" class="btn border" onchange="window.location.href=`/tasklist/${this.value}`">
              {% if filter == 'All' %}
                <option value="All" selected>All</option>
                <option value="Done">Done</option>
                <option value="Pending">Pending</option>
              {% elif filter == 'Done' %}
                <option value="All" >All</option>
                <option value="Done" selected>Done</option>
                <option value="Pending">Pending</option>
              {% else %}
                <option value="All" >All</option>
                <option value="Done" >Done</option>
                <option value="Pending" selected>Pending</option>
              {% endif %}

            </select>
          </div>

        </div>
        <table class="table table-hover border border-dark">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Time Of Creation</th> 
                <th scope="col">Time Of Last Update</th> 
                
              </tr>
            </thead>
            
            <tbody>
              {% for obj in data reversed %}
                <tr>
                  <th scope="row" onclick=taskDetails({{obj.id}})>{{forloop.counter}}</th>
                  <td onclick=taskDetails({{obj.id}})>{{obj.title}}</td>
                  <td onclick=taskDetails({{obj.id}})><pre>{{obj.description}}</pre></td>
                  <td>
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden" name="id" value={{obj.id}}>
                      <select class=" btn border border-black" onchange="this.form.submit()" name="status">
                        {% if obj.status == 'Done' %}
                          <option selected style="color: green" value='Done'>Done &#9989;</option>
                          <option style="color: red" value='Pending'>Pending &#10060;</option>
                        {% else %}
                        <option  style="color: green" value='Done'>Done &#9989;</option>
                        <option selected style="color: red" value='Pending'>Pending &#10060;</option>
                        {% endif %}
                      </select>
                    </form>
                  </td>
                  <td onclick=taskDetails({{obj.id}})>{{obj.timeOf_creation}}</td>
                  <td onclick=taskDetails({{obj.id}})> {{obj.timeOf_last_update}} </td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
    </div>

{% endblock %}